div#blackduck_wrapper {
	padding-left: 100px;
}

table#blackduck_table {
	width: auto;
	border: 1px solid black;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table#blackduck_table th {
	width: auto;
	background-color: #DCDCDC;
    border: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table#blackduck_table th a {
	text-decoration: none;
}

table#blackduck_table td {
    width: auto;
    border: 1px solid #DCDCDC;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#blackduck_link_span {
	display: block;
	text-size: large;
}

#blackduck_link {
	text-decoration: none;
}

#blackduck_loading {
	max-width: 100%;
    height: auto;
}

.blackduck_rating {
	font-size: large;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	padding-top: 5px;
	border-radius: 50%;
	border: none;
	height: 25px;
	width: 30px;
}

.large_header {
	font-size: x-large;
	font-weight: bold;
	margin-bottom: 10px;
}

.expandableTableRow {
    max-height: 0px;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
	div#blackduck_wrapper {
	   padding-left: 2px;
	}
}