div#blackduck_wrapper {
	max-width: 1300px;
    margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
}

table#blackduck_table {
	width: 100%;
	min-width: 720px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table#blackduck_table th {
	width: auto;
    border-bottom: 1px solid #DCDCDC;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table#blackduck_table th a {
	text-decoration: none;
}

table#blackduck_table td {
	border-bottom: 1px solid #DCDCDC;
    width: auto;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#highRisk {
	color: white;
	background-color: #9C251F;
	border: 1px solid #9C251F;
	border-radius: 15%;
	padding: 1px;
	padding-left: 2px;
    padding-right: 2px;
}

#medRisk {
    color: white;
    background-color: #E78C87;
    border: 1px solid #E78C87;
    border-radius: 15%;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

#lowRisk {
    color: white;
    background-color: #999;
    border: 1px solid #999;
    border-radius: 15%;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

#blackduck_link_span {
	display: block;
	text-size: large;
}

#blackduck_link {
	text-decoration: none;
}

#blackduck_loading {
	max-width: 100%;
    height: auto;
}

#blackduck_version {
	font-size: 8.5pt;
	text-decoration: none;
	border: 1px solid #DCDCDC;
	border-radius: 12%;
	padding-left: 1px;
	padding-right: 1px;
}

.large_header {
	font-size: large;
	font-weight: none;
	margin-bottom: 10px;
}

.expandableTableRow {
    max-height: 0px;
    overflow: hidden;
}